extends ../layout

block content
  div(class="row")
    div(class="col-lg-offset-1 col-lg-10 jumbotron")
        if user
          if user.kind=="Hyrulean"
            h2 Technological adress: #{user.technologicalAdress}
            ul
              each pouch in pouches
                li
                    span= pouch.type
                    br
                    span Ruppes amount: #{pouch.rupees}
                //li= item.type
          if user.kind=="Counsellor"
            h2 User type: #{user.kind}
          if user.isAdmin
            h2 User type: Admin