extends layout

block content
  div(class="row")
      div(class="col-lg-offset-1 col-lg-10 jumbotron")
        h1(class="text-center") Royal Bank of Hyrule
          img(class="center-block", src="/images/logo_main.png", width="400", height="400")