extends layout

block content
  div(class="row")
    form(class="col-lg-offset-1 col-lg-6", method="post")
        if errors
            div(class="form-text text-muted") #{errors}
        div(class="form-group")
            label(for="technologicalAdress") Technological adress
            input(type="text", class="form-control", name="technologicalAdress")
        div(class="form-group")
            label(for="password") Password
            input(type="password", class="form-control", name="password")
        div(class="form-group")
            label(for="firstname") Firstname
            input(type="text", class="form-control", name="firstname")
        div(class="form-group")
            label(for="lastname") Lastname
            input(type="text", class="form-control", name="lastname")
        div(class="form-group")
            input(type='checkbox', name='isCounsellor', value='false')
        div
            input(type="submit", class="btn btn-primary")