<% include ./partials/head %>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <section>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-6">
            <% user.technoLogicalAdress %>
        </div>
    </div>
    </section>
    
</body>
<% include ./partials/foot %>